@font-face {
    font-family: Asessor;
    src: url(/fonts/Asessor.ttf);
}

@font-face {
    font-family: HelveticaBold;
    src: url(/fonts/Neue_Helvetica/HelveticaNeueCyr-Bold.otf);
}

@font-face {
    font-family: HelveticaMedium;
    src: url(/fonts/Neue_Helvetica/HelveticaNeueCyr-Medium.otf);
}

@font-face {
    font-family: HelveticaLight;
    src: url(/fonts/Neue_Helvetica/HelveticaNeueCyr-Light.otf);
}

@font-face {
    font-family: PTSerif;
    src: url(/fonts/PTSerif.ttf);
}

@font-face {
    font-family: 'icomoon';
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon.eot?8pq1w');
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon.eot?#iefix8pq1w') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon.woff?8pq1w') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon.ttf?8pq1w') format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon.svg?8pq1w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e600";
}
.icon-paint-format:before {
    content: "\e601";
}
.icon-mug:before {
    content: "\e602";
}
.icon-rocket:before {
    content: "\e603";
}

body {
    background-color: #eeeeed;
}

.header_logo {
    margin-top: 3%;
}

.welcome_screen {
    background: url(../img/bg-header.jpg) no-repeat center center;
    background-size: cover;
    min-height: 500px;
    height: 50vh;
}
.main_logo_furniture {
    width: 297px;
    height: 56px;
    line-height: 0.9;
}

.main_logo_furniture p {
    font-family: Asessor, sans-serif;
    color: rgb(0, 51, 102);
    font-size: 41px;
    margin: 0 0 -5px 0;
}

.main_logo_furniture span {
    font-family: HelveticaLight, sans-serif;
    font-size: 10px;
    color: #666970;
    margin-bottom: 20px;
}

.info_logo {

}

.info_logo a {
    font-family: HelveticaMedium, sans-serif;
    color: #666970;
    font-size: 17px;
}

.request_logo {
    width: 225px;
    height: 50px;
}

.request_btn {
    background-color: #d15741;
    font-family: HelveticaLight, sans-serif;
    font-size: 14px;
    color: white;
    border: none;
    padding: 12px 35px;
    display: block;
    margin: 4px auto;
}

.nav_hook {
    width: 107%;
}

.nav_hook div {
    margin: 10px auto;
    margin-left: 0px;
    padding-left: 0px !important;;
}

.nav_hook div > a{
    font-family: HelveticaBold, sans-serif;
    color: rgb(0, 51, 102);
    font-size: 8px;
}
.welcome_screen img{
    width: 98.7vw;
    position: relative;
}

.headline {
    position: absolute;
    top: 301px;
    left: 338px;
    width: 272px;
}

.headline h1 {
    font-family: PTSerif, sans-serif;
    color: white;
    letter-spacing: 0.05em;
}

.headline a {
    font-family: PTSerif, sans-serif;
    font-size: 10px;
    color: #a94939;
    border: 1px solid #a94939;
    padding: 10px 30px;
}

.company_headline {
    margin: 30px auto;
}

.company_headline h2 {
    font-family: PTSerif, sans-serif;
    font-size: 18px;
    color: #13335a;
    letter-spacing: 0.05em;
}

.headline_h2 h2 > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    max-width: 90%;
}

.headline_h2 h2:before,
.headline_h2 h2:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 3%;
    height: 1px;
    vertical-align: middle;
    background: #d15741;
}

.headline_h2 h2:before {
    left: -10px;
    margin-left: -50%;
}

.headline_h2 h2:after {
    left: 10px;
    margin-right: -50%;
}

.mebel_h2 {
    font-family: HelveticaMedium, sans-serif;
    margin: 0 auto;
}

.company_text {
    background-color: white;
    border: 1px solid #dcdcdb;
    box-shadow: 0 2px 2px #dcdcdb, 0 2px 2px #dcdcdb;
    width: 950px;
}

.company_text p {
    width: 500px;
    font-family: HelveticaMedium, sans-serif;
    font-size: 10px;
    margin: 20px 5px;
}

.company_bg {
    background: url(../img/bg-company.jpg) no-repeat center; /* 50% 50% centers image in div */
    background-size: cover;
    width: 350px;
    height: 300px;
    margin-right: 30px;
}

.company_href {
    font-family: HelveticaLight, sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
    background-color: #d15741;
    color: white;
    padding: 10px 30px;
    margin-left: 3px;
}

.mebel_text {
    background-color: white;
    border: 1px solid #dcdcdb;
    box-shadow: 0 2px 2px #dcdcdb, 0 2px 2px #dcdcdb;
}

.mebel_text p {
    width: 500px;
    font-family: HelveticaMedium, sans-serif;
    font-size: 10px;
    margin: 20px 0 15px 220px;
}
/*Цифры 01 и 02*/
.number {
    position: absolute;
    font-family: HelveticaMedium, sans-serif;
    color: #d15741;
    margin: 22px 0 0 175px;
}
/*Цифра 02*/
.number2 {
    margin-top: 64px;
}

.mebel_bg {
    background: url(../img/bg-mebel.jpg) no-repeat center; /* 50% 50% centers image in div */
    background-size: cover;
    width: 350px;
    height: 300px;
    margin-left: 30px;
}

.row_reset {
    margin: 0;
}

.div_icon span {
    font-size: 5em;
    color: #ef563e;
}

.advantages_list ul, li {
    list-style: none;
    padding: 0;
}

.advantages_list ul li {
    float: left;
    height: 126px;
    color: #d15741;
    width: 19.5%;
    text-align: center;
    cursor: pointer;
}

.advantages_list span {
    padding: 15px 0;
    font-size: 5em;
    display: block;
    color: #d15741;
    transition: all .2s ease-in-out;
}

.advantages_list li:hover span {
    transform: translateY(-10px);
}

.advantages_list p {
    font-family: HelveticaMedium, sans-serif;
    font-size: 15px;
    color: #1d1d1d;
}

.li_rocket {
    width: 85%;
    margin-left: 15px;
}

.li_mug {
    margin-right: 15px;
}

.economy-bg {
    background: url(../img/bg-economy.jpg) no-repeat center 61%;
    background-size: cover;
    min-height: 500px;
    height: 50vh;
    position: relative;
}

.form_opacity {
    position: absolute;
    width: 600px;
    height: 400px;
    background: white;
    opacity: 0.9;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -200px;
}